<div style="display:none;">
  {% assign full_url = request.host | append: request.path %}
  <script>
    var current_url = window.location.href;
    var pixel1 = '<img src="https://secure.adnxs.com/px?id=1624228&seg=31383580&redir='+ current_url +'&t=2" width="1" height="1" />';
    var pixel2 = '<img src="https://ad.doubleclick.net/ddm/activity/src=12406422;type=stand0;cat=bomba0;u1='+ current_url +';u2=[referer];dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=;npa=;gdpr=${GDPR};gdpr_consent=${GDPR_CONSENT_755};ord=1?" width="1" height="1" alt=""/>';
$("body").append(pixel1);
    $("body").append(pixel2);
  </script>
  
{% if template.name == "collection" %}
  <!-- Bombae-Collection page pixel -->
   <script>
    var current_url = window.location.href;
    var cp1 = '<img src="https://secure.adnxs.com/px?id=1624238&seg=31383655&redir='+ current_url +'&t=2" width="1" height="1" />';
    var cp2 = '<img src="https://ad.doubleclick.net/ddm/activity/src=12406422;type=stand0;cat=bomba000;u1='+ current_url +';u2=[referer];u3={{ collection.handle }};u4={{ collection.id }};dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=;npa=;gdpr=${GDPR};gdpr_consent=${GDPR_CONSENT_755};ord=1?" width="1" height="1" alt=""/>';
$("body").append(cp1);
    $("body").append(cp2);
  </script>
<!-- End of Conversion Pixel -->

{% endif %}
{% if page.id == 90008813763 %}
  
  <!-- Conversion Pixel - Bombae-MiQ Landing page pixel- S - IMG - DO NOT MODIFY -->
  <script>
    var current_url = window.location.href;
    var lp1 = '<img src="https://secure.adnxs.com/px?id=1624231&seg=31383597&redir='+ current_url +'&t=2" width="1" height="1" />';
    var lp2 = '<img src="https://ad.doubleclick.net/ddm/activity/src=12406422;type=stand0;cat=bomba00;u1='+ current_url +';u2=[referer];dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=;npa=;gdpr=${GDPR};gdpr_consent=${GDPR_CONSENT_755};ord=1?" width="1" height="1" alt=""/>';
$("body").append(lp1);
    $("body").append(lp2);
  </script>
<!-- End of Conversion Pixel -->
  {% endif %}

{% if template.name == "product" %}
  <!-- Bombae-Products page pixel -->
<script>
    var current_url = window.location.href;
    var pdp1 = '<img src="https://secure.adnxs.com/px?id=1624239&seg=31383675&redir='+ current_url +'&t=2" width="1" height="1" />';
    var pdp2 = '<img src="https://ad.doubleclick.net/ddm/activity/src=12406422;type=stand0;cat=bomba001;u1='+ current_url +';u2=[referer];u3=[category name];u4=[category id];u5={{ product.handle }};u6={{ product.id }};dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=;npa=;gdpr=${GDPR};gdpr_consent=${GDPR_CONSENT_755};ord=1?" width="1" height="1" alt=""/>';
$("body").append(pdp1);
    $("body").append(pdp2);
  </script>
  
{% endif %}

</div>
<div class="mc_miq" style="display:none;"></div>

<!-- ROLLPLAY PIXEL FOR MIQ -->
{% if page.handle == "rollplay-razor" %}
  <!-- Conversion Pixel - Bombae-New MiQ LP Pixel- S - IMG - DO NOT MODIFY -->
<img src="https://secure.adnxs.com/px?id=1691572&seg=33850862&redir=[https://mybombae.in/{{ page.url }}?utm_source=Paid_programmatic&utm_medium=Awareness&utm_campaign=Brand_Paid_Programmatic_MiQ_Rollplay_Page_Entertainment_Internal]&t=2" width="1" height="1" />
<!-- End of Conversion Pixel -->
<img src="https://ad.doubleclick.net/ddm/activity/src=12406422;type=stand0;cat=bomba004;u1=[https://mybombae.in/{{ page.url }}?utm_source=Paid_programmatic&utm_medium=Awareness&utm_campaign=Brand_Paid_Programmatic_MiQ_Rollplay_Page_Entertainment_Internal];u2=[referer];dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=;npa=;gdpr=${GDPR};gdpr_consent=${GDPR_CONSENT_755};ord=1?" width="1" height="1" alt=""/>
<!-- ROLLPLAY PIXEL FOR MIQ -->

{% endif %}

<!-- Snap Pixel Code -->
<script type='text/javascript'>
___sSt(() => {
  (function(e,t,n){if(e.snaptr)return;var a=e.snaptr=function()
  {a.handleRequest?a.handleRequest.apply(a,arguments):a.queue.push(arguments)};
  a.queue=[];var s='script';r=t.createElement(s);r.async=!0;
  r.src=n;var u=t.getElementsByTagName(s)[0];
  u.parentNode.insertBefore(r,u);})(window,document,
  'https://sc-static.net/scevent.min.js');

  snaptr('init', 'c49751fd-ba11-40fa-b16a-369f129ca467', {
  'user_email': '__INSERT_USER_EMAIL__'
  });

  snaptr('track', 'PAGE_VIEW');
}, 2e3);
</script>
<!-- End Snap Pixel Code -->
<!-- Snap Pixel Code -->
<script type='text/javascript'>
___sSt(() => {
(function(e,t,n){if(e.snaptr)return;var a=e.snaptr=function()
{a.handleRequest?a.handleRequest.apply(a,arguments):a.queue.push(arguments)};
a.queue=[];var s='script';r=t.createElement(s);r.async=!0;
r.src=n;var u=t.getElementsByTagName(s)[0];
u.parentNode.insertBefore(r,u);})(window,document,
'https://sc-static.net/scevent.min.js');

snaptr('init', 'c49751fd-ba11-40fa-b16a-369f129ca467', {
'user_email': '__INSERT_USER_EMAIL__'
});

snaptr('track', 'VIEW_CONTENT',{'item_category': 'Women', 
'item_ids':['097man', '16span']});
}, 2e3);
</script>
<!-- End Snap Pixel Code -->

<!-- Snap Pixel Code -->
<script type='text/javascript'>
___sSt(() => {
(function(e,t,n){if(e.snaptr)return;var a=e.snaptr=function()
{a.handleRequest?a.handleRequest.apply(a,arguments):a.queue.push(arguments)};
a.queue=[];var s='script';r=t.createElement(s);r.async=!0;
r.src=n;var u=t.getElementsByTagName(s)[0];
u.parentNode.insertBefore(r,u);})(window,document,
'https://sc-static.net/scevent.min.js');

snaptr('init', 'c49751fd-ba11-40fa-b16a-369f129ca467', {
'user_email': '__INSERT_USER_EMAIL__'
});



   $(".js_addtc, .single_add_to_cart_button").click(function(){
    snaptr('track', 'ADD_CART');
  });
}, 2e3);
</script>
<!-- End Snap Pixel Code -->
