<style>
  .main-container {background: #fff;display: block;position: relative;padding-top:54px}
  .imagesss {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height:50px
}
  .mobile{display:none;}
  .imagesss img {
    flex: 25%;
    width: 120px!important;
    position:relative;
    
}
  .pad{padding-top:36px;padding-bottom: 2px;}
  .color {
    background: #f4efff;
    padding-bottom:1px
}
  .tab-contentt{display: none;}
  .tab-contentt.activee { display: block;}
  .contt{font-size:23px; width:400px; text-align:left;color:#6a27af;font-weight:400; margin:0 auto;}
  img.tabb.activee {border-bottom: 5px solid #6b24b2;transform: scale(1.09);filter:none}
  img.tabb{transition: ease 100ms}
  .flexxyy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom:54px;
}
  .flexxyy-content{width:40%}
  .imagesss{width:60%}
  .imagesss img{margin-right:50px}
  .quote_rating.fs__13.fwb.mb__10.cra.rating_.test {margin-top: -25px;}
  .contt h2 {color: #6a27af;font-size: 36px;font-weight: 700;}
  .contt h3{margin-top: -15px;font-size: 17px;font-style: italic;font-weight: 400; color: #6a27af;}
  img.tabb {filter: grayscale(1);}
  img.tabb:hover{filter:none; transform(1.09)}
  @media(max-width:500px)
  {
    .contt.texti{width:300px}
    .mobile{display:block}
    .desktop{display:none}
    .main-container.mobile.testim{padding-top:0}
    .main-slide h2 {
    font-size: 28px;
    text-align: center;
    padding-top: 24px;
    margin-bottom: 0;
    color:#6a27af
}
    .prr-1 {
    position: relative;
    margin: 0 auto;
    display: block;
}
    .prr-1 img {
    width: 200px;
    margin: 0px auto;
    margin-bottom:50px  
}
    .pr-1 p {
    font-size: 20px;
    text-align: center;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
    color:#6a27af
}
    .quote_rating.fs__13.fwb.mb__10.cra.rating_.test {
    margin-top: 3px;
    text-align: center;
}
    .contt.texti p{
      font-size:15px;
      text-align:center;
      margin: 0 20px
    }
    .contt.texti h3 {
    text-align: center;
}
    .contt.texti{padding-bottom:30px}
    .slick-dots {
    bottom: -2px!important;
}
  }
</style>
<!-- HTML FOR DESKTOP END -->
<!-- Content -->
<div class="main-container desktop color">
  <div class="flexxyy">
    <div class="flexxyy-content">
<div class="tab-contentt tab-contentt-2 contt">
  <h2 class="title_8">Baes Speak</h2>
  <p>"The foam? The flexible razor? just ugh *chefs kiss* I can finally shave my legs without getting hundreds of nicks and cuts :)"</p>
  <div class="quote_rating fs__13 fwb mb__10 cra rating_{{rating}} test"><i class="facl facl-star{{arr[0]}}"></i><i class="facl facl-star{{arr[1]}}"></i><i class="facl facl-star{{arr[2]}}"></i><i class="facl facl-star{{arr[3]}}"></i><i class="facl facl-star{{arr[4]}}"></i></div>
  <h3 class="name">Sania Ansari</h3>
</div>
    <div class="tab-contentt tab-contentt-4 contt ">
      <h2>Baes Speak</h2>
      <p>"It’s so damn smooth and healthy for the skin, it’s very important for us to feel safe with products and that’s exactly what I felt."</p>
      <div class="quote_rating fs__13 fwb mb__10 cra rating_{{rating}} test"><i class="facl facl-star{{arr[0]}}"></i><i class="facl facl-star{{arr[1]}}"></i><i class="facl facl-star{{arr[2]}}"></i><i class="facl facl-star{{arr[3]}}"></i><i class="facl facl-star{{arr[4]}}"></i></div>
      <h3 class="name">Shruti Dhasmana</h3>
    </div>
    <div class="tab-contentt tab-contentt-1 contt activee">
      <h2>Baes Speak</h2>
      <p>"Smooth razor, was very surprised at how easily it glided and removed hair. The skin felt smooth afterwards. Very nice"</p>
      <div class="quote_rating fs__13 fwb mb__10 cra rating_{{rating}} test"><i class="facl facl-star{{arr[0]}}"></i><i class="facl facl-star{{arr[1]}}"></i><i class="facl facl-star{{arr[2]}}"></i><i class="facl facl-star{{arr[3]}}"></i><i class="facl facl-star{{arr[4]}}"></i></div>
      <h3 class="name">Aarohi Mishra</h3>
    </div>
    </div>
  <div class="imagesss">
<img src="https://cdn.shopify.com/s/files/1/0577/1368/8771/files/6.1.png?v=1676702572" style="width:100%;height:auto" alt="pr images" class="tabb activee" data-toggle-target=".tab-contentt-1">
<img src="https://cdn.shopify.com/s/files/1/0577/1368/8771/files/6.2.png?v=1676702572"style="width:100%;height:auto" alt="pr images" class="tabb" data-toggle-target=".tab-contentt-4">
<img src="https://cdn.shopify.com/s/files/1/0577/1368/8771/files/6.3.png?v=1676702572"style="width:100%;height:auto" alt="pr images" class="tabb" data-toggle-target=".tab-contentt-2">
    </div>
    </div>
</div>

    <div class="main-container mobile testim color">
      <div class="main-slide">
        <h3 class="section-title tc pr flex fl_center al_center fs__24 title_8 pad"><span class="mr__10 ml__10">baes speak</span></h3>
        <div class="slider-inittt">
          <div class="prr-1">
            <img src="https://cdn.shopify.com/s/files/1/0577/1368/8771/files/6.1.png?v=1676702572" style="width:100% height:auto" alt="mobile pr">
            <div class="contt texti">
              <p>"It’s so damn smooth and healthy for the skin, it’s very important for us to feel safe with products and that’s exactly what I felt."</p>
              <div class="quote_rating fs__13 fwb mb__10 cra rating_{{rating}} test"><i class="facl facl-star{{arr[0]}}"></i><i class="facl facl-star{{arr[1]}}"></i><i class="facl facl-star{{arr[2]}}"></i><i class="facl facl-star{{arr[3]}}"></i><i class="facl facl-star{{arr[4]}}"></i></div>
              <h3 class="name">Shruti Dhasmana</h3>
            </div>
          </div>
           <div class="prr-1">
            <img src="https://cdn.shopify.com/s/files/1/0577/1368/8771/files/6.2.png?v=1676702572" style="width:100% height:auto" alt="mobile pr">
             <div class="contt texti">
              <p>"Smooth razor, was very surprised at how easily it glided and removed hair. The skin felt smooth afterwards. Very nice"</p>
              <div class="quote_rating fs__13 fwb mb__10 cra rating_{{rating}} test"><i class="facl facl-star{{arr[0]}}"></i><i class="facl facl-star{{arr[1]}}"></i><i class="facl facl-star{{arr[2]}}"></i><i class="facl facl-star{{arr[3]}}"></i><i class="facl facl-star{{arr[4]}}"></i></div>
              <h3 class="name">Aarohi Mishra</h3>
            </div>
          </div>
          <div class="prr-1">
            <img src="https://cdn.shopify.com/s/files/1/0577/1368/8771/files/6.3.png?v=1676702572" style="width:100% height:auto" alt="mobile pr">
            <div class="contt texti">
              <p>"The foam? The flexible razor? just ugh *chefs kiss* I can finally shave my legs without getting hundreds of nicks and cuts :)"</p>
              <div class="quote_rating fs__13 fwb mb__10 cra rating_{{rating}} test"><i class="facl facl-star{{arr[0]}}"></i><i class="facl facl-star{{arr[1]}}"></i><i class="facl facl-star{{arr[2]}}"></i><i class="facl facl-star{{arr[3]}}"></i><i class="facl facl-star{{arr[4]}}"></i></div>
              <h3 class="name">Sania Ansari</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
<script>
    $('.tabb').on('click', function(evt) {
  evt.preventDefault();
   $('.tabb').removeClass('activee');
  $(this).toggleClass('activee');
  var sel = this.getAttribute('data-toggle-target');
  $('.tab-contentt').removeClass('activee').filter(sel).addClass('activee');
});
</script>
<script>
  $('.slider-inittt').slick({
              dots: true,
              infinite: true,
              autoplay:true,
              speed: 500,
              fade: true,
              cssEase: 'linear'
            });
</script>