<style>
.image-with-text {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.slick-dots {display: none;}
.image-with-text img {    border-radius: 35px;}
 .button_div {width:100%;}
.button_div .button, .button_div .customer button, .button_div .shopify-challenge__button { min-height: 3rem!important; min-width: 80% !important; border-radius: 20px;}

@media screen and (min-width: 990px) {
  .page-width--narrow { max-width: 60%;}
  .image-with-text {margin-top: 7rem;margin-bottom: 7rem;}
}

.image-with-text .grid {
  margin-left: 0;
  margin-bottom: 0;
  align-items: center;
}

.image-with-text__grid {
  overflow: hidden;
}
  .contact .field {margin-top: 2rem;}


@media screen and (min-width: 750px) {
  .image-with-text__grid--reverse {  flex-direction: row-reverse;}
  .page-width--narrow { padding: 0 3rem;}
}

.image-with-text__media {
  background-color: transparent !important;
  min-height: 100%;
}

.image-with-text__media--small {
  height: 19.4rem;
}

.image-with-text__media--large {
  height: 43.5rem;
}

@media screen and (min-width: 750px) {
  .image-with-text__media--small {
    height: 31.4rem;
  }

  .image-with-text__media--large {
    height: 69.5rem;
  }
}

.image-with-text__media--placeholder {
  background-color: var(--color-foreground-4);
  position: relative;
  overflow: hidden;
}

.image-with-text__media--placeholder.image-with-text__media--adapt {
  height: 20rem;
}

@media screen and (min-width: 750px) {
  .spaced-section:last-child{margin-top: 6rem !important;}
  .image-with-text__media--placeholder.image-with-text__media--adapt {height: 30rem;}
}

.image-with-text__media--placeholder > svg {
  position: absolute;
  left: 50%;
  max-width: 80rem;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  fill: currentColor;
}

.image-with-text__content {
/*   display: flex; */
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  justify-content: center;
  padding: 5rem 2.5rem;
}

@media screen and (min-width: 750px) {
  .image-with-text__grid--reverse .image-with-text__content {margin-left: auto;}
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .image-with-text__content {
    padding: 5rem;
  }
}

@media screen and (min-width: 990px) {
  .image-with-text__content {  padding: 0rem 4rem;text-align: center;}
}

@media screen and (min-width: 990px) {
  .image-with-text__content--small {
    padding-bottom: 5rem;
  }
}

.image-with-text__content > * + * {
  margin-top: 1rem;
}

.image-with-text__content > .image-with-text__text:empty ~ a {
  margin-top: 2rem;
}

.image-with-text__content > :first-child:is(.image-with-text__heading) {
  margin-top: 0;
}

.image-with-text__content :last-child:is(.image-with-text__heading) {
  margin-bottom: 0;
}

.image-with-text__content :last-child:is(.button) {
  margin-top: 2rem;
}

.image-with-text__content .button + .image-with-text__text {
  margin-top: 2rem;
}

.image-with-text__heading{
 font-size:42px;
  margin-bottom: 20px;
}
  .textheadingtop-fullvideo h2{font-size:42px;}


.image-with-text__text p {
  margin-top: 0;
  margin-bottom: 1rem;
}
/* *****************************************Anchal**************************************** */
.spaced-section--full-width:nth-child(2) { background:rgb(220, 227, 253);}
.spaced-section--full-width:nth-child(3){ background: rgb(255, 165, 255);}
.spaced-section--full-width:last-child {background: white;}
.slick-dotted.slick-slider { margin-bottom: 0px; }
.contact__button {text-align: center;}
.contact__button button, .contact__button .customer button, .contact__button .shopify-challenge__button {width:70%;}

@media screen and (min-width: 1300px) {
  .image-with-text.page-width{ padding:5rem 9rem!important;}
  .image-with-text__content {  padding: 0rem;text-align: center;}
.grid--2-col-tablet .grid__item { padding: 0rem 8rem;text-align: center;}
  .button_div {width:100%;}
  .button_div .button, .button_div .customer button, .button_div .shopify-challenge__button { min-height: 3rem!important; min-width: 80% !important; border-radius: 20px;}
}
@media screen and (max-width: 1023px) {
  .image-with-text.page-width{ padding:3rem .7rem!important;}
  .textheadingtop-fullvideo h2{font-size:32px;}
#about_us .grid {display: block;}
  .grid--2-col-tablet .grid__item {width:100%!important;}
    .image-with-text__content {  padding: 0rem;text-align: center;}
   .button_div {width:100%;}
    .button_div .button, .button_div .customer button, .button_div .shopify-challenge__button { min-height: 4rem!important; min-width: 80% !important; border-radius: 20px;}
.image-with-text__heading {margin-bottom: 0px;margin-top: 2rem !important;font-size: 32px;}
 #about_us .grid__item { padding-right: 0 !important;}
}
@media only screen and (max-width: 768px){.overImage { position: absolute;}
  .fullWidthVideoWrap {    margin: 0 1.2rem 4rem!important;}
video#homevideo {height: 100%;}}


/* profooter  */
.pro_footer.page-width{text-align: center; background: rgb(244, 245, 254); padding: 4rem;width: 100%;}
.pro_footer_btn a{border: 1px solid;border-radius: 20px;margin: 3rem .7rem;line-height:3;padding: 0.5rem 3rem;}
.pro_footer_btn{margin-top: 3rem;}
.pro_footer_text p{font-weight: 600;margin-top: 3rem;}
</style>
<div id="about_us">
<div  id="{{section.settings.redirectId}}" class="image-with-text {% if section.settings.full_width %}image-with-text--full-width{% else %}page-width{% endif %}">
  <div class="image-with-text__grid {% if section.settings.layout == 'text_first' %} image-with-text__grid--reverse{% endif %} grid grid--gapless grid--1-col grid--2-col-tablet">
    <div class="grid__item">
      <div class="image-with-text__media image-with-text__media--{{ section.settings.height }} {% if section.settings.image != blank %}media{% else %}image-with-text__media--placeholder placeholder{% endif %}"
        {% if section.settings.height == 'adapt' and section.settings.image != blank %} style="padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;"{% endif %}
      >
        {%- if section.settings.image != blank -%}
          <img
            src="{{ section.settings.image | img_url: '533x' }}"
            alt="{{ section.settings.image.alt | escape }}"
          >
        {%- else -%}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {%- endif -%}
      </div>
    </div>
    <div class="grid__item">
      <div class="image-with-text__content image-with-text__content--{{ section.settings.height }}">
        {%- for block in section.blocks -%}
          {% case block.type %}
            {%- when 'heading' -%}
              <h2 class="image-with-text__heading h1">
                {{ block.settings.heading | escape }}
              </h2>
            {%- when 'text' -%}
              <div class="image-with-text__text rte">{{ block.settings.text }}</div>
            {%- when 'button' -%}
              {%- if block.settings.button_label  != blank -%}
          <div class="button_div">
                <a href="{{ block.settings.button_link }}" class="button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}"{% if block.settings.button_link == blank %} aria-disabled="true"{% endif %}>{{ block.settings.button_label | escape }}</a>
        </div>  
            {%- endif -%}
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>
</div>

{% schema %}
{
  "name": "about-us-image-with-text",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
          "type": "text",
          "id": "redirectId",
          "label": "redirection Id"
        },
    {
      "id": "image",
      "type": "image_picker",
      "label": "t:sections.image-with-text.settings.image.label"
    },
    {
      "id": "height",
      "type": "select",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.image-with-text.settings.height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.image-with-text.settings.height.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-with-text.settings.height.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.image-with-text.settings.height.label"
    },
    {
      "id": "layout",
      "type": "select",
      "options": [
        {
          "value": "image_first",
          "label": "t:sections.image-with-text.settings.layout.options__1.label"
        },
        {
          "value": "text_first",
          "label": "t:sections.image-with-text.settings.layout.options__2.label"
        }
      ],
      "default": "image_first",
      "label": "t:sections.image-with-text.settings.layout.label",
      "info": "t:sections.image-with-text.settings.layout.info"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-with-text.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.image-with-text.blocks.heading.settings.heading.label",
          "default": "Image with text"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-with-text.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.image-with-text.blocks.text.settings.text.label",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.image-with-text.blocks.button.name",
      "limit": 1,
      "settings": [
        {
          "id": "button_label",
          "type": "text",
          "label": "t:sections.image-with-text.blocks.button.settings.button_label.label",
          "default": "Button label",
          "info": "t:sections.image-with-text.blocks.button.settings.button_label.info"
        },
        {
          "id": "button_link",
          "type": "url",
          "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
        }
      ]
    }
  ],
      "templates": ["page"],

  "presets": [
    {
      "name": "about-us-image-with-text",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}


